* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4e4ba;
}

.container {
  height: 60vh;
  width: 50vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

form {
  margin: 0.5rem;
  padding: 0.5rem 0 0 0;
}

form label,
input {
  font-size: 1rem;
}

form input {
  width: 100%;
  outline: none;
  line-height: 2rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  border: 2px solid gray;
  padding-left: 0.5rem;
}

h2 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

button {
  width: 100%;
  line-height: 2rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.75rem;
  font-size: 1.05rem;
  background-color: #af4d98;
  color: #fff;
  cursor: pointer;
  border: none;
}
